<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>253865350437-sv5433sk3jf6mdi66eqloc9miealen8f.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.253865350437-sv5433sk3jf6mdi66eqloc9miealen8f</string>
	<key>API_KEY</key>
	<string>AIzaSyC7FZRaPPdi8QDNDbWqxbayt02EU13ocRc</string>
	<key>GCM_SENDER_ID</key>
	<string>253865350437</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.swimz</string>
	<key>PROJECT_ID</key>
	<string>swim-z</string>
	<key>STORAGE_BUCKET</key>
	<string>swim-z.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:253865350437:ios:06592773afa642ad6ff6cc</string>
</dict>
</plist>